{% extends 'snippets/base.html' %} 
{% block content %} 
{% load static %}
 {% load   humanize %}

<div class="wrapper">
  {% include "snippets/sidebar.html" %}

  <main class="content">
    <div class="container-fluid p-0">
      <br />
      <div class="d-flex justify-content-between">
        <h5 class="card-title mb-0">Offices List</h5>

        {% if request.user.is_superuser == False %}
        <div class="page-btn">
          <button
            type="button"
            class="btn btn-end btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Add Office
          </button>
        </div>
        {% endif %}
      </div>

      <br />
      <div class="row">
        <div class="col-12 col-lg-12 col-xxl-9 d-flex">
          <div class="card flex-fill">
            <div class="card-header"></div>
            <table class="table table-hover my-0">
              <thead>
                <tr>
                  <th>NO</th>
                  <th class="d-none d-xl-table-cell">Name</th>
                  <th class="d-none d-xl-table-cell">Price (TSH)</th>
                  <th>Landload</th>
                  <th>Location</th>
                  <th class="d-none d-md-table-cell">Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for no, office in offices_list %}
                <tr>
                  <td>{{no}}</td>
                  <td class="d-none d-xl-table-cell">{{office.name}}</td>
                  <td class="d-none d-xl-table-cell">
                    {{office.price | intcomma}}
                  </td>

                  <td class="d-none d-xl-table-cell">
                    {{office.landload.name}}
                  </td>
                  <td class="d-none d-md-table-cell">{{office.location}}</td>
                  , {% if office.is_available %}
                  <td><span class="badge bg-success">Available</span></td>
                  {% else %}
                  <td><span class="badge bg-danger">Not Available</span></td>

                  {% endif %}
                  <td>
                    <button class="btn btn-primary">
                      <a class="text-white" href="">Edit</a>
                    </button>
                    <button class="btn btn-danger">
                      <a class="text-white" href="">Delete</a>
                    </button>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Office</h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
          <div class="modal-body">
            {% csrf_token %} {% for field in form %}
            <div class="form-group">{{field.label}} {{field}}</div>

            {% endfor %}

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>

        <br />
      </div>
    </div>

    {% endblock %}
  </div>
</div>
