<form action="http://upload.issuu.com/1_0" enctype="multipart/form-data" method="post">
    <input type="hidden" name="action" value="issuu.document.upload"/>
    <input type="hidden" name="apiKey" value="hukprh6d967ap9w8mu41lgi79kk8fr36"/>
    <input type="hidden" name="name" value="racing"/>
    <input type="hidden" name="title" value="Race Cars"/>
    <input type="hidden" name="signature" value="sig"/>
    <input type="file" name="file"/>
    <input type="submit" name="_upload" value="Upload"/>
  </form>